{% extends './base.html.twig' %}


{% block body %}
    <div class="dashboard">
        <h1>Co dziś pykamy wariacie?</h1>

        <button id="pickMapBtn">Pick map</button>

        <div id="loadingSpinner" style="display: none;"></div>

        <div id="result"></div>

        <script>
            // Przekazujemy tablicę map z kontrolera do JavaScript
            const maps = {{ maps|json_encode|raw }};

            document.getElementById('pickMapBtn').addEventListener('click', function() {
                var button = this;
                var spinner = document.getElementById('loadingSpinner');
                var result = document.getElementById('result');

                // Pokaż spinner, wyłącz przycisk, usuń stary wynik
                spinner.style.display = 'block';
                button.disabled = true;
                result.innerText = '';

                setTimeout(function() {
                    // Ukryj spinner, włącz przycisk
                    spinner.style.display = 'none';
                    button.disabled = false;

                    // Losowanie mapy z tablicy
                    const randomMap = maps[Math.floor(Math.random() * maps.length)];

                    // Wyświetlenie wyniku
                    result.innerText = `${randomMap}!`;
                }, 3300);
            });
        </script>


    </div>
{% endblock %}